{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<!-- <br> -->
<div class="row">
  {% for destination in destinations %}
  
  <div class="m-3 col-12 col-md-6 col-lg-5 d-flex align-items-stretch">
    
      <div class="card">
        <a href="{% url 'destination-detail' destination.id %}">
        <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{destination.name}}</h5>
          <p class="card-text">{{destination.activities}}</p>
        </div>
      </a>
      </div>
  </div>

  {% endfor %}
</div>
{% endblock content %}